<footer>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    <p>  </p>
    2024 (c) {{title}}
    rendered on {{datetime_render}}
    <p></p>
    Powered by <a href="https://github.com/NetherCMS/nethercms-main">NetherCMS</a>

</footer>